body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2e3238;
  min-height: 100vh;
}

.App {
  text-align: center;
  font-family: sans-serif;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

h1 {
  margin-bottom: 4px;
  margin-top: 5px;
}

.spreed {
  display: flex;
  align-items: center;
  gap: 4px;
}

input,
button {
  cursor: pointer;
}

button {
  background: #0175ff;
  color: #fff;
  border-radius: 12px;
}
